/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #eee; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    padding: 2px 0px 0px 8px;
}
.mat-card {
    margin: 8px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }
